
## Macro title: Ustream
## Macro has a body: N
## Macro Name: ustream-video
## Visible to the system administrators in the Macro Browser
## Visual & Images Category
## Icon URL: https://ustvstaticcdn1-a.akamaihd.net//v6/images/static/brand-guidelines/u-logo-blue.png?201205251501
## Documentation URL: 
## Macro Body Processing: No Macro Body.
##
## Developed by: Brian Call, Austin Boyd
## Date created: 2017-03-10
## Date updated: 2017-03-09
## Installed by: 
## This macro embeds videos hosted on Ustream.tv

## @noparams

<div>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
<div class='embed-container'><iframe src='https://www.ustream.tv/combined-embed/15939123?social=0&videos=0&html5ui&autoplay=true&showtitle=false' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div></div>

