
## Macro title: Ustream Social
## Macro has a body: N
## Macro Name: ustream-social
## Visible to the system administrators in the Macro Browser
## Visual & Images Category
## Icon URL: https://ustvstaticcdn1-a.akamaihd.net//v6/images/static/brand-guidelines/u-logo-blue.png?201205251501
## Documentation URL: 
## Macro Body Processing: No Macro Body.
##
## Developed by: Brian Call, Austin Boyd
## Date created: 2017-03-10
## Date updated: 2017-03-09
## Installed by: 
## This macro embeds Q&A on ustream.tv

## @noparams

<div>
<style>.container-embed { position: relative; padding-bottom: 100%; height: 0; overflow: hidden; max-width: 100%; } .container-embed iframe, .container-embed object, .container-embed embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='container-embed'><iframe src='https://www.ustream.tv/socialstream/15939123' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div></div>
